
<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="">
<head>
    <title>Modify Patient</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="mod-patient-custom">
<h1 class="custom-heading">Modify Patient</h1>
<form class="custom-form" action="/modPatient" method="post" th:object="${patient}">
    <input type="hidden" id="id" name="id" th:value="*{id}" required value="">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="*{name}" required value=""><br><br>

    <label for="birthdate">Birthdate:</label>
    <input type="text" id="birthdate" name="birthDate" th:value="*{birthDate}" required value=""><br><br>

    <label for="locality">Locality:</label>
    <input type="text" id="locality" name="locality"  th:value="*{locality}" required value=""><br><br>

    <label for="doctor">Assigned doctor:</label>
    <p style="color: black;" th:if="${patient.doctor}" th:text="${patient.doctor.name}"></p>
    <p style="color: black;" th:unless="${patient.doctor}" th:text="'no assigned doctor'" ></p>
    <select th:if="${patient.doctor}" id="doctor" name="doctor">
        <option th:each="doctor : ${doctors}"
                th:value="${doctor.id}" th:text="${doctor.name}"
                th:selected="${ doctor.id == patient.doctor.id}">
        </option>
    </select>
    <select th:unless="${patient.doctor}" id="doctor2" name="doctor">
        <option th:each="doctor : ${doctors}"
                th:value="${doctor.id}" th:text="${doctor.name}">
        </option>
    </select>
    <br>
    <input type="submit" class="add-link" value="Mod Patient">
    <a href="/" class="back-link">Back</a>
</form>
</body>
</html>
